[submodule "main/negentropy"]
	path = main/negentropy
	url = https://github.com/telamon/negentropy.git
[submodule "main/sha2"]
	path = main/sha2
	url = https://github.com/amosnier/sha-2.git
[submodule "main/monocypher"]
	path = main/monocypher
	url = https://github.com/LoupVaillant/Monocypher.git
[submodule "main/picofeed"]
	path = main/picofeed
	url = https://github.com/telamon/picofeed.git
