# CONFIG_ESP_WIFI_NAN_ENABLE=y
# Enable C++ exceptions and set emergency pool size for exception objects
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=1024

# Disabled NVS during testing
CONFIG_ESP_PHY_RF_CAL_FULL=y
CONFIG_ESP_PHY_CALIBRATION_MODE=2
CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=n

